body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}
/* HEADER------------------------------------------------------------------------------------ */
.homePage{
    background: url(/Images/Photos/image-header.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.logo {
    width : 200px;
    margin-left: 25px;
}
header nav{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
header nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: hsl(0, 0%, 100%);
}
header nav ul li a:hover{
    color:hsl(212, 27%, 19%);
    background: hsla(0, 0%, 100%);
    border-radius: 30px;
    font-family: 'Fraunces';
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 56px;
    letter-spacing: 6px;
}
.arrowDown {
    height : 100px;
    margin-left: 25px;
    transition: transform 2s;
}
.arrowDown:hover {
    transform: translateY(50px);
}
/* HEADER-END-------------------------------------------------------------------------------- */
/* SECTION SERVICES-------------------------------------------------------------------------- */
.services {
    box-sizing: border-box;
    display: block;
}

.services p {
    color: #A8A9AA;
    text-align: center;
}
.services a {
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces';
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.zone {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.zone img {
    width: 50%;
}
h2 {
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
    font-size:xx-large;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.cherry {
    background: url(/Images/Photos/image-graphic-design.jpg);
}
    .cherry p {
        text-align: center;
        color: hsl(158, 28%, 19%);
    }
.agrum {
    background: url(/Images/Photos/image-photography.jpg);
}
    .agrum p {
        text-align: center;
        color: hsl(212, 27%, 19%);
    }

/* ------------------------------------------------------------------------------------------ */

/* SECTION AVIS --------------------------------------------------------------------------*/
.avis {
    background-color: #FDF8F1;
    background-size: cover;
    background-position: center;
    padding: 150px;
}
h3 {
    text-align: center;
    color: #A8A9AA;
    text-transform: uppercase;
    font-family: 'Fraunces';
    letter-spacing: 6px;
    padding-bottom: 50px;
}
    .avisClient {
        text-align: center;
        column-count: 3;
    }
        .avisClient img {
            border-radius: 50%;
            width: 4.5rem;
    }
    .client {
        color: hsl(232, 10%, 55%);
        font-weight: 500;
        padding: 30px 55px 30px 0;
    }
    .job {
        color: #A8A9AA;
        font-size: small;
    }
h4 {
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
}
@media screen and (max-width: 768px) {
    .avisClient {
        padding: 5rem 2rem;
        box-sizing: border-box;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .avis {
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .avisClient img {
        overflow-clip-margin: content-box;
    }
    h3 {
        box-sizing: border-box;
        justify-content: center;
    }
}

/* Clients end------------------------------------------------------------------------------ */

/* DIV GALLERY--------------------------------------------------------------------------- */

.pix {
    display: flex;
    flex-wrap: wrap;
}
.pix div {
    width: 25%;
}
.pix img {
    width: 100%;
}
    /* @media (max-width: 480px) {
        .pix {
            flex-direction: column;
        }
    } */
/* GALLERY - END ---------------------------------------------------------------------------- */

/* FOOTER ----------------------------------------------------------------------------------- */
.endPage{
    background-color: #A0DECF;
    text-align: center;
    padding-bottom: 50px;
}
.logoBis {
    width : 200px;
    margin-left: 25px;
    padding: 50px 0 10px 0;
}
footer nav{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}
footer nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px 20px 20px;
}
footer nav ul li a{
    text-decoration: none;
    color: #24554C;
}
footer nav ul li a:hover{
    background: hsla(0, 0%, 100%);
    border-radius: 30px;
    padding: 20px;
    font-family: 'Fraunces';
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
}
.socMedia img{
    margin: 0 10px;
}
/* FOOTER - END ----------------------------------------------------------------------------- */

